@import "https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css";

/* ヘッダー部 */
#header {
    border-bottom: 1px solid #dddddf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}
#header .details {
    margin-top: -20px;
}

/* トップへ戻るリンク(ヘッダー部の表示部分に無理矢理表示させる) */
#GotoTop {
    text-align: right;
    margin-top: -40px;
}

/* テーブルデータ(JSで後から生成するので隠す) */
.tableblock {
    display: none;
}

/* テーブルレイアウトの設定 */
th, td {
    max-width: 500px;
}